@model TestViewModel
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
        ViewData["Title"] = "Test View";
}

<h1> Hello From Test Controller </h1>
<h2> Your name is: @Model.Name</h2>
<h2> Your age is: @Model.Age</h2>

@if (Model.DateOfBirth.HasValue)
{
    <h2> Your date of birth is: @Model.DateOfBirth.Value.ToShortDateString()</h2>
}
else
{
    <h2> Date of birth not provided. </h2>
}